.accordion-button:focus {
  border-color: var(--accent-color);
  box-shadow: 0 0 0 0.25rem rgba(255, 90, 121, 0.25);
}

.accordion-button:not(.collapsed) {
  background-color: #fff0f3;
  color: var(--dark-red);
}
