.header-minatech {
  background-color: #ffffff !important;
  height: fit-content;
  min-height: 80px;
  position: fixed;
  top: 0;
  transition: top 100ms;
  width: 100%;
  z-index: 10;
}

.header-logo {
  height: 60px;
}

.headerNav .nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.headerNav li {
  font-size: 16px;
  font-weight: 600;
}

.headerNav a,
.headerNav a:link,
.headerNav a:visited {
  color: #000000;
  text-decoration: none;
  transition: 200ms ease-in-out;
}

.headerNav a:hover {
  cursor: pointer;
  letter-spacing: 1px;
}

@media (max-width: 576px) {
  .headerNav .nav {
    flex-wrap: wrap;
    gap: 10px 16px;
    justify-content: center;
  }
}
